.header-title {
    display: block;
}

.header-title h4{
    font-style: italic;
}

.header-title h1 {
    margin-top: 1rem;
}

thead tr th{
    text-align: center !important;
}

td{
    font-size: 1rem;
}

tbody td:nth-child(2) {
    border-left: 1px solid #333; /* Border to split columns in tbody */
}

#content-gradient {
    background: linear-gradient(to bottom, #193c1f, #121212);
    height: 40%;
}