<!-- app/templates/_playlist_sidenav.html -->
{% if playlist_name %}
<nav id="playlist-sidenav">
    <h2 class="playlist-name">{{ playlist_name }}</h2>
    <img class="playlist-image" src="{{ playlist_image }}" alt="Playlist Image">
    <div id="sidenav-tracks">
        {% for track in tracks %}
            <a class="track-row" href="/track/{{ track.spotify_track_id }}"">
                <img src="{{ track.track_image }}" alt="Track Image" width="50" height="50">
                <div class="track-info">
                    <span class="track-name">{{ track.track_name }}</span>
                    <span class="track-artist">{{ track.track_artist }}</span>
                </div>
            </a>
        {% endfor %}
        </div>
    <button id="load-more-sidenav" class="load-more" data-playlist-id="{{ spotify_playlist_id }}">LOAD MORE TRACKS</button>
</nav>

{% else %}
<!-- Will need to implement a box for user's to submit playlist URL-->
<div id="playlist-sidenav">
    <p>No playlist selected yet. Please input a valid playlist URL.</p>
</div>
{% endif %}