<!-- app/templates/_playlist_sidenav.html -->
{% if playlist_name %}
<nav id="playlist-sidenav">
    <i id="toggle-sidebar"class="bx bx-chevron-right toggle"></i>

    <h2>{{ playlist_name }}</h2>
    <img class="playlist-image" src="{{ playlist_image }}" alt="Playlist Image">
    <div id="sidenav-tracks">
        {% for track in tracks %}
            <a class="track-row" href="/track/{{ track.spotify_track_id }}" display=none>
                <img src="{{ track.track_image }}" alt="Track Image" width="50" height="50">
                <div class="track-info">
                    <span class="track-name">{{ track.track_name }}</span>
                    <span class="track-artist">{{ track.track_artist }}</span>
                </div>
            </a>
        {% endfor %}
        </div>
    <button id="load-more-sidenav" data-playlist-id="{{ spotify_playlist_id }}">Load More Tracks</button>
</nav>

{% else %}
<!-- Will need to implement a box for user's to submit playlist URL-->
<div id="playlist-sidenav">
    <p>No playlist selected yet. Please input a valid playlist URL.</p>
</div>
{% endif %}