<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Lyrics Translation Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- BoxIcons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body class="loaded-content">
    <header>
        <a href="/" style="text-decoration: none; color: inherit;">
            <h1>Spotify Lyrics Translation Viewer</h1>
        </a>
    </header>

    <div class="container">
        <!-- Sidenav Section -->
        {% block sidenav %}
            <!-- Default or empty sidenav if no playlist URL is set -->
            <p>No Playlist Selected</p>
        {% endblock %}

        <!-- Content Section -->
        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer class="footer">
        <p>&copy; 2025 Lyrics Translation Viewer jibberish to fill space alskj;flkajs;ldfjsd;lfksa</p>
    </footer>
</body>
</html>
