{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/playlist.css') }}">
{% endblock %}

{% block sidenav %}
    {% include "_playlist_sidenav.html" %}
{% endblock %}

{% block content %}
    <div id="content-gradient">
        <div class="content-header-div"> 
            {% if playlist_image %}
                <img src="{{ playlist_image }}" alt="Playlist Image" style="width:300px;" class="content-main-image"><br>
            {% else %}
                <p>No playlist available.</p>
            {% endif %}
            <h1>{{ playlist_name }}</h1>
        </div>

        
        <table border="1">
            <thead>
                <tr>
                    <th class="title">Title</th>
                    <th class="track-artist">Track Artist</th>
                    <th class="track-name">Track Name</th>
                </tr>
            </thead>
            <tbody id="tracks-body">
                {% for track in tracks %}
                <tr class="track-row">
                    <td class="title"><img src="{{ track.track_image }}" alt="Track Image" width="100" height="100"></td>
                    <td class="track-name">{{ track.track_name }}</td>
                    <td class="track-artist">{{ track.track_artist }}</td>
                    <td class="spotify-track-id" style="display: none;">{{ track.spotify_track_id }}</td> <!-- Hidden column for spotify_track_id -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <button id="load-more-content" class="load-more" data-playlist-id="{{ spotify_playlist_id }}">LOAD MORE TRACKS</button>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/playlist.js') }}"></script>
{% endblock %}
